@import '../../styles/variaveis';

.mainProjects {
  @include center(center, center, 0%, 100vw);
  margin-top: 1rem;
  flex-direction: column;
  color: var(--colorLight);
  // overflow: hidden;
  // gap: 3rem;
  padding: 1rem;
  // border: 5px solid rgb(5, 21, 255);
  // min-height: 900px;
  // min-height: 7;
  .voltarTop {
    @include center(center, center, 5%, 100vw);
    margin-top: 2.5rem;
    flex-direction: column;
    color: var(--colorLight);
    overflow: hidden;
    gap: 3rem;
    padding: 1rem;
  }

  .sectionProjects {
    @include center(center, center, 100%, 100vw);
    flex-wrap: wrap;
    color: var(--colorLight);
    height: 100% !important;
    // overflow-y: auto;
    gap: 3rem;
    padding: 1rem;
    // border: 5px solid rgb(5, 21, 255);

    .imgs {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}